<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid" style="background-color: dimgray">

    <!-- Hat of site -->
    <div class="row" style="height: 50px">
        <div class="col-md-6 text-left bg-dark">
            <ul class="list-inline">
                <li id="currentUsername" style="color: azure"></li>
                <li id="currentRoles" style="color: azure"></li>
            </ul>
        </div>
        <div class="col-md-6 text-right bg-dark">
            <!-- Logout button -->
            <a href="/logout" th:text="Logout" style="color: azure">temp</a>
        </div>
    </div>


    <!-- Body of site -->
    <div class="container" style="margin: 50px; background-color: dimgray; height: 100vh">
        <div class="row">

            <!-- Left vertical navigation panel -->
            <div class="col-md-2" style="background-color: grey; height: 100vh">
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                        <a class="nav-link" href="#admin" role="tab" data-toggle="pill">Admin</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="#user" role="tab" data-toggle="pill">User</a>
                    </li>
                </ul>
            </div>

            <!-- Horizontal navigation panel -->
            <div class="col-md-10">
                <div class="tab-content">

                    <!----First tab of horizontal panel------->
                    <div sec:authorize="hasRole('ADMIN')" role="tabpanel" class="tab-pane" id="admin">
                        <div class="container">

                            <!-- Admin panel -->
                            <h1>Admin panel</h1>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active nav-item"><a class="nav-link active" href="#usersTable" role="tab" >Users Table</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="modal" onclick="addModal()">New User</a></li>
                            </ul>
                            <div class="tab-content">

                                <!-- Tab represents users table -->
                                <div role="tabpanel" class="tab-pane active" id="usersTable">

                                    <!-- Table of users -->
                                    <table class="table table-bordered table-hover table-dark">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Address</th>
                                            <th>Budget</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableData">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!------------Second tab------------>
                    <div role="tabpanel" class="tab-pane active" id="user">
                        <div class="container">
                            <h1>User information page</h1>
                            <!-- Tab represents users table -->
                            <h3>About user</h3>
                            <table class="table table-hover table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="userID"></td>
                                    <td id="userUsername"></td>
                                    <td id="userFirstName"></td>
                                    <td id="userLastName"></td>
                                    <td id="userAddress"></td>
                                    <td id="userBudget"></td>
                                    <td id="userRoles"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>





            <!-- Modal window that represents Add action -->
            <div class="modal fade"
                 tabindex="-1"
                 id="addModal"
                 role="dialog" aria-labelledby="addModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalTitle">Add new user</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group text-center">
                                    <label for="addUsername">Username</label>
                                    <input type="text"
                                           id="addUsername"
                                           class="form-control"
                                           placeholder="Enter username"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="addPassword">Password</label>
                                    <input type="text"
                                           id="addPassword"
                                           class="form-control"
                                           placeholder="Enter password"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="addFirstname">Firstname</label>
                                    <input type="text"
                                           id="addFirstname"
                                           class="form-control"
                                           placeholder="Enter firstname"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="addLastname">Lastname</label>
                                    <input type="text"
                                           id="addLastname"
                                           class="form-control"
                                           placeholder="Enter lastname"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="addAddress">Address</label>
                                    <input type="text"
                                           id="addAddress"
                                           class="form-control"
                                           placeholder="Enter address"/>
                                </div>
                                <div class="form-group text-center">
                                    <label for="addBudget">Budget</label>
                                    <input type="text"
                                           id="addBudget"
                                           class="form-control"
                                           placeholder="Enter budget"/>
                                </div>
                                <div class="form-group" id="addCheckbox">
                                    <input type="checkbox">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-primary" onclick="addUser()">
                                    Add new
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Modal window that represents Edit action-->
            <div class="modal fade"
                 tabindex="-1"
                 id="editModal"
                 role="dialog" aria-labelledby="editModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalTitle">Edit user</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group text-center">
                                    <label for="editID">ID</label>
                                    <input type="text"
                                           id="editID"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="editUsername">Username</label>
                                    <input type="text"
                                           id="editUsername"
                                           class="form-control"
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="editPassword">Password</label>
                                    <input type="text"
                                           id="editPassword"
                                           class="form-control"
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="editFirstname">Firstname</label>
                                    <input type="text"
                                           id="editFirstname"
                                           class="form-control"
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="editLastname">Lastname</label>
                                    <input type="text"
                                           id="editLastname"
                                           class="form-control"
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="editAddress">Address</label>
                                    <input type="text"
                                           id="editAddress"
                                           class="form-control"
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="editBudget">Budget</label>
                                    <input type="text"
                                           id="editBudget"
                                           class="form-control"
                                    />
                                </div>
                                <div class="form-group" id="editCheckbox">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-warning" onclick="editUser()">
                                    Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Modal window that represents Delete action-->
            <div class="modal fade"
                 tabindex="-1"
                 id="deleteModal"
                 role="dialog" aria-labelledby="editModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalTitle">Delete user</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group text-center">
                                    <label for="deleteID">ID</label>
                                    <input type="text"
                                           id="deleteID"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteUsername">Username</label>
                                    <input type="text"
                                           id="deleteUsername"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="deletePassword">Password</label>
                                    <input type="text"
                                           id="deletePassword"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteFirstname">Firstname</label>
                                    <input type="text"
                                           id="deleteFirstname"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteLastname">Lastname</label>
                                    <input type="text"
                                           id="deleteLastname"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteAddress">Address</label>
                                    <input type="text"
                                           id="deleteAddress"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                                <div class="form-group text-center">
                                    <label for="deleteBudget">Budget</label>
                                    <input type="text"
                                           id="deleteBudget"
                                           class="form-control"
                                           readonly
                                    />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-danger" onclick="deleteUser()">
                                    Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
            <script src="https://code.jquery.com/jquery-3.5.1.js"
                    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                    crossorigin="anonymous"></script>
<script src="/js/fetch.js"></script>

</body>
</html>